In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('fifa/fifa.csv')

In [ ]:
dados['Total'] = dados['Acceleration'] + dados['Agility'] + dados['Reactions']

dados[['Name','Total']]

In [4]:
dados = dados[['Name','Total']]
dados.sort_values('Total', ascending = False)

                 Name  Total
2           Neymar Jr  284.0
5           E. Hazard  279.0
0            L. Messi  277.0
26           M. Salah  276.0
50         D. Mertens  275.0
...               ...    ...
13279    P. Mazzocchi    NaN
13280       Y. Ammour    NaN
13281  Jwa Joon Hyeop    NaN
13282      O. Marrufo    NaN
13283     Han Pengfei    NaN

[18207 rows x 2 columns]

In [11]:
dados.to_csv('dados1.csv', index = False)

dados.to_excel('dados2.xlsx', index = False)

dados.to_csv('dados3.txt', sep = '\t')